@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

:root {
    --offwhite: #f8f8f2;
    --black: #2c2c2c;
    --red: #af0006;
    --rust: #834427;
    --brown: #a5684d;
    --sand: #d9cec1;
    --white: #ffffff;
    --light-grey: #d8d8d8;
}

* {
    padding-inline-start: 0;
    padding-inline-end: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;
}

a {
    color: var(--black);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.top-bar {
    height: 40px;
    padding: 8px 32px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 32px;
    background-color: var(--offwhite);
    font-size: .85rem;
    color: var(--black);
}

.location {
    display: inline-block;
    vertical-align: middle;
}

.main-nav {
    height: 52px;
    padding: 4px 32px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
    font-size: 1rem;
    border-bottom: 1px solid var(--black);
}

.hamburger-menu {
    width: 100px;
    align-items: center;
    text-align: center;
}

.hamburger-menu i {
    font-size: 2rem;
}

.logo {
    width: 60%;
}

.search-shopping {
    width: 30%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 32px;
    font-weight: bold;
}

.search-shopping i {
    font-size: 1.5rem;
}

.btn-search, .btn-shopping-list {
    display: flex;
    align-items: center;
    gap: 8px;
}

.logo img {
    width: 230px;
}

.banner-menu-container {
    width: 100px;
    display: flex;
    border: 1px solid var(--black);
    align-items: center;
    border-top: 0px;
    position: absolute;
    left: 32px;
    box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.1);
}

.banner-menu {
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 120px;
    justify-content: center;
    text-align: center;
    font-size: .9rem;
}

.banner-menu-item {
    margin: 4px 0;
    font-weight: bold;
    width: 100%;
    padding: 12px;
    margin-left: -5px;
    width: 108px;
}

.banner-menu-item.active {
    border-left: 4px solid var(--red);
    border-right: 4px solid var(--red);
}

.banner-menu-item img {
    width: 76px;
    height: 76px;
}

.main {
    max-width: 1024px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 235px 1fr;
    grid-column-gap: 24px;
    grid-row-gap: 0px;
    grid-template-areas: 
        "breadcrumbs breadcrumbs"
        "callout callout"
        "sidebar products";

    padding-top: 32px;
}

.breadcrumbs {
    grid-area: breadcrumbs;
    height: 40px;
}

.breadcrumbs ol {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    font-size: .85rem;
}

.breadcrumbs ol li:not(:last-child) a {
    color: var(--rust);
    font-weight: bold;
}

.breadcrumbs li:not(:last-child) {
    position: relative;
    padding-right: 1.5em;
}

.breadcrumbs li:not(:last-child):after {
    position: absolute;
    top: 50%;
    right: 8px;
    content: "";
    width: 6px;
    height: 10px;
    background: url(assets/breadcrumb-arrow.svg) no-repeat 50%;
    transform: translateY(-50%);
}

.sidebar {
    grid-area: sidebar;
}

.featured-products-callout {
    grid-area: callout;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
    padding: 24px;
    border: 1px solid var(--black);
}

.featured-products-callout img {
    height: 64px;
    width: 64px;
}

.featured-blurb {
    font-size: .9rem;
}

.featured-blurb strong {
    display: block;
    margin-bottom: 16px;
    font-size: 1rem;
}

.sidebar {
    padding: 32px 0;
}

.sidebar ul {
    list-style-type: none;
}

.categories ul li {
    font-weight: bold;
    padding: 8px 0;
}

.categories ul ul {
    padding: 8px 0;
}

.categories ul ul li {
    font-size: .9rem;
    font-weight: normal;
    padding: 8px 0;
}

.categories a.active-link {
    font-weight: bold;
    border-bottom: 3px solid var(--red);
    font-size: 1rem;
}

.categories a.active-link:hover {
    text-decoration: none;
    border-bottom: none;
}

.preheader {
    font-size: .80rem;
    color: #555555;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    padding-bottom: 16px;
}

.filters, .tags {
    padding: 40px 0;
}

.filters ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 8px;
}

.filters li {
    margin: 4px 0;
}

.filter-item {
    font-size: .85rem;
    padding: 4px 18px;
    border: 1px solid var(--rust);
    border-radius: 25px;
}

.filter-item:hover {
    border-width: 2px;
    padding: 4px 18px;
    background-color: var(--offwhite);
}

a.filter-item:hover {
    text-decoration: none;
}

.divider {
    width: 100%;
    height: 1px;
    background-color: var(--sand);
}

.tags ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 16px;
    list-style-type: disc;
    list-style-position: inside;
    color: var(--white);
}

.tag-before {
    filter: drop-shadow(5px 5px .25px rgba(0, 0, 0, 0.2));
}

.tags ul li {
    color: var(--black);
    font-size: .85rem;
    background-image: url(assets/tag-bg.png);
    background-repeat: repeat;
    padding: 6px 16px 8px 16px;
    border: 1px solid var(--white);
    clip-path: polygon(100% 0%, 100% 100%, 15% 100%, 0% 50%, 15% 0%);
}

.tags ul li a {
    margin-left: -8px;
}

.tags ul li::marker {
    color: var(--white);
    font-size: 1rem;
}

.products-area {
    grid-area: products;
    padding: 32px 0;
}

.products-title h1 {
    font-size: 2rem;
    font-family: serif;
}

.products-top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.products-title {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 8px;
}

.sort {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.sort p {
    font-size: .75rem;
    font-weight: bold;
    text-transform: uppercase;
}

.sort select {
    border: none;
    padding: 4px;
    color: var(--red);
    font-weight: bold;
}

.products-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 24px;
    padding: 24px 0;
}

.single-product-container {
    border: 1px solid var(--light-grey);
}

.single-product-cat-title, .single-product-pricing-add {
    width: 100%;
}

.single-product-pricing-add {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.single-product-img {
    min-height: 175px;
    border: 16px solid var(--offwhite);
    background-color: var(--offwhite);
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
}

.single-product-content {
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 200px;
}

.single-product-category {
    color: var(--rust);
    font-weight: bold;
    font-size: .9rem;
    text-align: left;
    width: 100%;
}

.single-product-title {
    font-size: 1.3rem;
    font-family: serif;
    font-weight: bold;
    padding: 8px 0;
    min-height: 50px;
    text-align: left;
    width: 100%;
}

.single-product-pricing {
    font-size: 1rem;
    text-align: right;
    padding-bottom: 8px;
    width: 100%;
}

.price {
    font-weight: bold;
}

.weight {
    font-size: .9em;
}

.single-product-add {
    background-color: var(--white);
    border: 1px solid var(--red);
    border-radius: 50px;
    box-shadow: 4px 4px .25px rgba(0, 0, 0, 0.2);
}

.single-product-add button {
    display: flex;
    border-radius: 50px;
    border: none;
    align-items: center;
    background-color: var(--white);
    font-weight: bold;
    font-size: .9em;
    color: var(--red);
    text-transform: uppercase;
}

.single-product-add-button {
    display: flex;
    align-items: center;
    padding: 6px 8px 8px 8px;
}

.single-product-add-button-before {
    border-top: 1px solid var(--brown);
    border-left: 1px solid var(--brown);
    border-top-left-radius: 23px;
    display: block;
    width: 1rem!important;
    height: 1rem;
    margin: -14px 0 0 6px;
}

.single-product-add-button-after {
    border-bottom: 1px solid var(--brown);
    border-right: 1px solid var(--brown);
    border-bottom-right-radius: 23px;
    display: block;
    width: 1rem!important;
    height: 1rem;
    margin: 0 6px -14px 0px;
}

.single-product-add button span {
    padding-top: 3px;
}

.pagination {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 16px;
    letter-spacing: 8px;
    font-size: .9rem;
    margin-top: 16px;
}

.pagination span {
    letter-spacing: 0;
}